<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" class="col-md-6 mx-auto">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">

        </div>
        <div th:case="*">
            <h1>Add category</h1>
            <form th:action="@{/figurines/categories/addCategorie}" method="post">
                <div class="form-group">
                    <label>Name :</label>
                    <input type="text" name="nom" class="form-control" placeholder="enter name" required>
                </div>
                <input type="submit" value="Add" class="btn btn-outline-primary">
            </form>
        </div>
    </div>
</div>

</body>
</html>