<!DOCTYPE html>
<html layout:decorate="~{layouts/base}" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Figurines</title>
</head>
<body>

<div layout:fragment="content" class="col-md-12">
    <div th:switch="${#authentication.getPrincipal().getRole()}">

        <div th:case="'ADMIN'">
            <a th:href="@{/figurines/categories/addCategorie}" class="float-right">
                <input type="button" value="Add" class="btn btn-success">
            </a>
            <br>
            <table class="table">
                <tr>
                    <th style="text-align: center">Nom</th>
                    <th style="text-align: center"></th>
                </tr>
                <br/>
                <th:block th:each="categorie_ : ${categories_}">
                    <tr style="width:100%">
                        <td style="width: 25%; text-align: center" th:text="${categorie_.nom}"></td>
                        <td style="width: 10%;text-align: center"><a th:href="@{/figurines/categories/editCategorie/} + ${categorie_.id}">
                            <input type="button" value="Edit" class="btn btn-info"></a>
                        </td>
                        <td style="width: 10%; text-align: center">
                            <form th:object="${categorie_}" th:action="@{/figurines/categories/delete/} + ${categorie_.id}" th:method="delete">
                                <input type="submit" value="Delete" class="btn btn-info">
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>

        <div th:case="'WORKER'">
            <a th:href="@{/figurines/categories/addCategorie}" class="float-right">
                <input type="button" value="Add" class="btn btn-success">
            </a>
            <br>
            <table>
                <tr>
                    <th style="text-align: center">Nom</th>
                    <th style="text-align: center"></th>
                </tr>
                <br/>
                <th:block th:each="categorie_ : ${categories_}">
                    <tr style="width:100%">
                        <td style="width: 25%; text-align: center" th:text="${categorie_.nom}"></td>
                        <td style="width: 10%;text-align: center">
                            <a th:href="@{/figurines/categories/editCategorie/} + ${categorie_.id}">
                                <input type="button" value="Edit" class="btn btn-info">
                            </a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>

</body>
</html>