<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Figurines</title>
</head>
<body>

<div layout:fragment="content" class="col-md-6 mx-auto">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">

        </div>
        <div th:case="*">
            <h1>Edit category</h1>
            <form th:action="@{/figurines/categories/editCategorie/} + ${categorie_edit.id}" method="post">
                <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" name="nom_categorie" th:value="${categorie_edit.nom}" class="form-control" placeholder="enter name">
                </div>
                <button type="submit" class="btn btn-success">Edit</button>
            </form>
            <a th:href="@{/figurines/categories}">
                <input type="button" value="Back to previous page" class="btn btn-outline-dark">
            </a>
        </div>
    </div>
</div>

</body>
</html>