<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Figurines</title>
</head>
<body>

<div layout:fragment="content" class="col-md-12">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">

        </div>
        <div th:case="*">
            <h1>Edit brand</h1>
            <form th:action="@{/figurines/marques/editMarque/} + ${marque_edit.id}" method="post">
                <div class="form-group">
                    <label>Name :</label>
                    <input type="text" name="nom_marque" th:value="${marque_edit.nom}" class="form-control" placeholder="enter name">
                </div>
                <input type="submit" value="Edit" class="btn btn-success">
                <a th:href="@{/figurines/marques}">
                    <input type="button" value="Back to previous page" class="btn btn-outline-dark">
                </a>
            </form>
        </div>
    </div>
</div>

</body>
</html>