# Spring
spring.cache.type=NONE

# Data Source
spring.datasource.url=jdbc:mysql://localhost:3306/struts
spring.datasource.username=root
spring.datasource.password=struts

# Hibernate
spring.jpa.hibernate.ddl-auto=create-drop

spring.resources.static-locations[0]=file:src/main/resources/static/
spring.resources.static-locations[1]=classpath:/static/