# Spring
spring.cache.type=NONE

# Database
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://localhost:3306/struts
spring.datasource.username=root
spring.datasource.password=struts