<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" class="col-md-12">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">

        </div>
        <div th:case="*">
            <form th:action="@{/figurines/marques/addMarque}" method="post">
                <table>
                    <tr>
                        <td><label>Nom :</label></td>
                        <td><input type="text" name="nom"></td>
                    </tr>
                </table>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</div>

</body>
</html>