<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="content" class="col-md-12">
    <h1>Dashboard here</h1>
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <p th:case="'ADMIN'">User role is : <span th:text="${#authentication.getPrincipal().getRole()}"></span></p>
        <p th:case="*">User is some other thing</p>
    </div>

    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>