<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Figurines</title>
</head>
<body>

<div layout:fragment="content" class="col-md-12">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">

        </div>
        <div th:case="*">
            <form th:object="${figurine_delete}" th:action="@{/figurines/deleteFigurine/} + ${figurine_delete.id}" th:method="delete">
                <table>
                        <tr>
                            <td><label>Nom :</label></td>
                            <td><label th:text="${figurine_delete.nom}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Description :</label></td>
                            <td><label th:text="${figurine_delete.description}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Date de parution :</label></td>
                            <td><label th:text="${figurine_delete.date_parution}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Référence :</label></td>
                            <td><label th:text="${figurine_delete.reference}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Prix :</label></td>
                            <td><label th:text="${figurine_delete.prix_ttc}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Exemplaires :</label></td>
                            <td><label th:text="${figurine_delete.nb_exemplaires}"></label></td>
                        </tr>

                        <tr>
                            <td><label>Poids :</label></td>
                            <td><label th:text="${figurine_delete.poids}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Hauteur :</label></td>
                            <td><label th:text="${figurine_delete.hauteur}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Longueur :</label></td>
                            <td><label th:text="${figurine_delete.longueur}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Largeur :</label></td>
                            <td><label th:text="${figurine_delete.largeur}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Quantité en magasin :</label></td>
                            <td><label th:text="${figurine_delete.quantite_magasin}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Quantité en stock :</label></td>
                            <td><label th:text="${figurine_delete.quantite_stock}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Catégorie :</label></td>
                            <td><label th:text="${figurine_delete.categorie.nom}"></label></td>
                        </tr>
                        <tr>
                            <td><label>Marque :</label></td>
                            <td><label th:text="${figurine_delete.marque.nom}"></label></td>
                        </tr>
                </table>
                <br />
                <input type="submit" value="Delete">
                <br />
                <a th:href="@{/figurines}"><input type="button" value="Back to previous page"></a>
            </form>
        </div>
    </div>
</div>

</body>
</html>