<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Figurines</title>
</head>
<body>

<div layout:fragment="content" class="col-md-12">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">

        </div>
        <div th:case="*">
            <form th:action="@{/figurines/editFigurine/} + ${figurine_edit.id}" method="post">
                <table>
                        <tr>
                            <td><label>Nom :</label></td>
                            <td><input type="text" name="nom" th:value="${figurine_edit.nom}"></td>
                        </tr>
                        <tr>
                            <td><label>Description :</label></td>
                            <td><input style="height:100px;" type="text" name="description" th:value="${figurine_edit.description}"></td>
                        </tr>
                        <tr>
                            <td><label>Date de parution :</label></td>
                            <td><input type="date" name="date_parution" th:value="${figurine_edit.date_parution}"></td>
                        </tr>
                        <tr>
                            <td><label>Référence :</label></td>
                            <td><input type="text" name="reference" th:value="${figurine_edit.reference}"></td>
                        </tr>
                        <tr>
                            <td><label>Prix :</label></td>
                            <td><input type="number" step="0.01" name="prix_ttc" th:value="${figurine_edit.prix_ttc}"></td>
                        </tr>
                        <tr>
                            <td><label>Exemplaires :</label></td>
                            <td><input type="number" name="nb_exemplaires" th:value="${figurine_edit.nb_exemplaires}"></td>
                        </tr>

                        <tr>
                            <td><label>Poids :</label></td>
                            <td><input type="number" step="0.01"  name="poids" th:value="${figurine_edit.poids}"></td>
                        </tr>
                        <tr>
                            <td><label>Hauteur :</label></td>
                            <td><input type="number" step="0.01" name="hauteur" th:value="${figurine_edit.hauteur}"></td>
                        </tr>
                        <tr>
                            <td><label>Longueur :</label></td>
                            <td><input type="number" step="0.01"  name="longueur" th:value="${figurine_edit.longueur}"></td>
                        </tr>
                        <tr>
                            <td><label>Largeur :</label></td>
                            <td><input type="text" step="0.01" name="largeur" th:value="${figurine_edit.largeur}"></td>
                        </tr>
                        <tr>
                            <td><label>Quantité en magasin :</label></td>
                            <td><input type="number" name="quantite_magasin" th:value="${figurine_edit.quantite_magasin}"></td>
                        </tr>
                        <tr>
                            <td><label>Quantité en stock :</label></td>
                            <td><input type="number" name="quantite_stock" th:value="${figurine_edit.quantite_stock}"></td>
                        </tr>
                        <tr>
                            <td><label>Catégorie :</label></td>
                            <td>
                                <select name="categorie_name">
                                    <th:block th:each="categorie : ${categories}">
                                        <option th:text="${categorie.nom}" th:selected="${categorie.nom==figurine_edit.categorie.nom}">...</option>
                                    </th:block>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Marque :</label></td>
                            <td>
                                <select name="marque_name">
                                    <th:block th:each="marque : ${marques}">
                                        <option th:text="${marque.nom}" th:selected="${marque.nom==figurine_edit.marque.nom}">...</option>
                                    </th:block>
                                </select>
                            </td>
                        </tr>
                </table>
                <br />
                <input type="submit" value="Edit">
                <br />
                <a th:href="@{/figurines}"><input type="button" value="Back to previous page"></a>
            </form>
        </div>
    </div>
</div>

</body>
</html>