<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Figurines</title>
</head>
<body>

<div layout:fragment="content" class="col-md-12">
    <div th:switch="${#authentication.getPrincipal().getRole()}">
        <div th:case="'CUSTOMER'">
            <form th:action="@{/figurines/reservation/} + ${figurine_book.id}" method="post">
                <label>Quantité : </label>
                <input type="number" name="quantite" min="1" th:max="${figurine_book.quantite_magasin + figurine_book.quantite_stock}" class="form-control" required>
                <input type="submit" value="Book" class="btn btn-info">
            </form>
        </div>
        <div th:case="*">

        </div>
    </div>
</div>

</body>
</html>
