<!DOCTYPE html>
<html layout:decorate="~{layouts/base}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="col-md-12">
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt ipsum porta odio euismod rutrum in et ipsum. Etiam gravida, metus sit amet varius tincidunt, nibh magna hendrerit ligula, in rhoncus nulla enim sed urna. Proin dolor turpis, lacinia ut molestie eu, commodo sit amet orci. Mauris ut tellus nibh. In vitae justo vitae tortor porttitor venenatis vitae sed metus. Phasellus porta dapibus placerat. Proin lacus massa, tempus commodo feugiat ac, rutrum sed felis. Duis sit amet ex elementum, sodales augue sed, rhoncus metus. Duis sagittis mi et lectus porttitor tempor. Nullam id risus eget arcu sagittis maximus. Sed condimentum et lorem non rutrum. </p>
    <p>Mauris augue ligula, euismod at nibh nec, tempor semper est. Sed risus massa, consequat sit amet est at, aliquet commodo risus. Duis id cursus ex. Ut est ante, cursus vitae rhoncus in, accumsan vel odio. Aenean id accumsan lorem. Sed est tortor, convallis id felis nec, dignissim commodo ligula. Sed nec justo eget mi vulputate ornare non quis nisi. Donec libero mauris, tincidunt quis mauris at, posuere pulvinar sapien. Donec et lectus id mauris feugiat rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque quis orci hendrerit, consequat massa vitae, iaculis nibh. Curabitur eget tempor sapien. Maecenas nec ex eget purus suscipit posuere.</p>
    <p>Pellentesque at turpis sit amet justo finibus gravida. Nulla pellentesque posuere commodo. Nulla ultrices, eros eu egestas varius, lacus nulla efficitur arcu, sed convallis justo nulla et felis. In viverra metus eu arcu blandit, at lobortis augue blandit. Mauris tempus hendrerit lectus eget faucibus. Aliquam at ornare dui, eget varius massa. Cras sit amet tincidunt ante. Aliquam congue volutpat lacus, ut ultrices nulla vestibulum in. Sed a sagittis enim, id fringilla metus. Integer ut quam nec tortor tempor laoreet ac non nulla.</p>
</div>
</body>
</html>